
body{
    background-color:lightgray;     
}
h1{font-size: 26px; padding: 0; border: 0; margin: 0; color: black;}
h2{font-size: 14px; padding: 5px; border: 0; margin: 0; color: black; text-align: center;}
h3{font-size: 20px; padding: 0; border: 0; margin: 0; color: purple;}
h4{font-size: 22px; padding: 0px; border: 0; margin: 0; color: black; background-color: gold; text-align: center;}
h5{font-size: 20px;}
p{padding:0;border:0;margin:0;}
lists{border:0;margin:0;padding:0;}
inputs{border:0;margin:0;padding:0;}

/*Table CSS*/
table{
   margin: 0px; 
   border-collapse: collapse;
   border-spacing:20px;
}
th{
    border:0;
    margin:0;
    font-weight:bold;
    text-align:center;
    background-color: lightgreen;
}
td{
    text-align:left;
    border:0;
    margin:0; 
    background-color: lightgreen;
}

table td,table th{
    padding: 5px;
    text-align:right;
}

/*CSS FOR ALL TABLE TITLES*/

/*END TABLE TITLE CSS*/

/*BEGINNING OF LOGIN PAGE CSS */
#login_div{
    width:411px;
    height:300px;
    overflow-y:hidden;
    margin-top:125px;
    border: 3px solid #015643;
    border-bottom-left-radius:13px;
    border-bottom-right-radius:13px;
    border-top-right-radius:13px;
    border-top-left-radius:13px;
    background:#FEF200;
    margin-left:auto;
    margin-right:auto;
}
#logo_holder{
   width: 411px;
   height:150px;
   margin-right:50px;
   
   background:white;
}
#form_div{
    margin-left:80px;
    padding:5px;
    float:left;
    font-size:18px;
    font-weight: bold;
    background:#FEF200; 
}
/*END OF LOGIN PAGE CSS*/

/*Top of All Pages CSS*/
#page_top{
    width:98%;
    height:50%;
    background:white;
    margin-left:auto;
    margin-right:auto;
    margin-top:1%;
    position:relative;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;    
    z-index:20;
}
#top_image{
    margin-left:2%;
}
#tab_bar{
    width:100%;
    height:15px;
    position:relative;
    background:#015643;
}
/*END OF TOP OF ALL PAGES*/
#table_title{
    background:#015643;
    color:white;
    text-align:center;
    
    padding-left:40px;
}
/*NORMAL SIZE BODY CSS*/
#normal_body{
    width:100%;
    height: 600px;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    background:#FFFFB2;
}
#normal_right{
    float:left;
    width:88%;
    height:100%;
    background:#FFFFB2;
    margin-right:auto;
    margin-left:auto;
    overflow-x:auto;
    overflow-y:auto;
    border-bottom-right-radius:15px;
}
#normal_left{
    height:100%;
    overflow-x:auto;
    width:12%;
    background:#FEF200;
    float:left;
    border-bottom-left-radius:15px;
    text-align:center;
}
/*END NORMAL SIZE BODY CSS*/

/*SMALL BODY CSS*/
#small_body{
    width:100%;
    height: 450px;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    background:#FFFFB2;
}
#small_left{
    float:left;
    width:13%;
    height:100%;
    background:#FEF200;
    border-bottom-left-radius:15px;
    overflow-x:auto;
}
#small_left_buttons{
    margin-left:12%;
    margin-top:5%;
}
#small_right{
    float:left;  
    border-bottom-right-radius:15px;
    width:85%; 
    margin-right:auto;
    margin-left:auto;
    overflow-x:auto;
    overflow-y:auto;
}
/*END OF SMALL BODY CSS*/

/*PRODUCTIVITY CSS*/
#prod_table{
    margin-left: 18%;
    margin-top:3%;
}
/*END PRODUCTIVITY CSS*/

/*HOME PAGE CSS*/
#home_title{
    width:850px;
    float:left;
    margin-top:8%;
    margin-left:10%;
    padding:20px;
    background:#015643;
    color:white;
    text-align:center;
    font-weight:bold;
}
#home_sched{
    width: 850px;
    position:relative;
    margin-left:10%;
    margin-right:auto;
    float:left;
    background: lightgreen;
    padding:20px;
    padding-top:2%;
    text-align:center;
}
/*END OF HOME PAGE CSS*/

/*PASSWORD CHANGE CSS*/
#password_table{
    margin-left:38%;
    margin-top:3%;   
}

/*PASSWORD CHANGE PAGE CSS*/


/*END OF PASSWORD CHANGE PAGE CSS*/



/*BEGINNING OF MANAGE SCHEDULES CSS*/
#manage_left{
    height:400px;
    width:201px;
    background:#FEF200;
    float:left;
    border-bottom-left-radius:15px;
    text-align:center;
    padding-top:100px;
}
#manage_right{
    float:left;
    width: 850px;
    margin-right:auto;
    margin-top:20px;
    margin-left:auto;
}
#generate_title{
    width:850px;
    float:left;
    margin-top:15px;
    margin-left:60px;
    padding:20px;
    background:#015643;
    color:white;
    text-align:center;
    font-weight:bold;
}
#generate_schedule{
    width: 850px;
    position:relative;
    margin-left:60px;
    margin-right:auto;
    float:left;
    background: lightgreen;
    padding:20px;
    padding-top:5px;
    padding-bottom:5px;
    text-align:center;
}
#manage_body{
    width:100%;
    height:500px;
    background:#FFFFB2;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
}
/*END OF MANAGE SCHEDULE CSS*/

input{
    -moz-border-radius: 5px;
    border-radius: 5px;
    border:solid 1px black;
}

#rule_description{
    width:220px;
}
/*Employee Page CSS*/
.employee_time_fields{
    width:35px;
}
#employee_body{
    overflow-y:hidden;
    position:relative;
    width:100%;
    height:560px;
    background:#FFFFB2;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
}
#employee_left{
    float:left;
    width: 30%;
    margin-top:2%;
    margin-left:16%;
    text-align: left;
    background:#FFFFB2;
    
}
#employee_right{
    width:37%;
    margin-top:2%;
    margin-left:2%;
    height:90%;
    float:left;
}
/*View Schedule Page CSS*/
#view_schedule_body{
    width:100%;
    height:450px;
    background:#FFFFB2;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
}
#view_schedule_left{
    height:350px;
    width:200px;
    background:#FEF200;
    float:left;
    border-bottom-left-radius:15px;
    text-align:center;
    padding-top:100px;
}
#view_schedule_right{
    float:left;
}
/*Buttons*/
.subway_buttons{
    text-decoration:none;
    font-size:15px;
    text-align:center;
    position:relative;
}

/*A HREF CSS*/
a:link{
    color:black;
    text-decoration:none;
}
a:visited {
    color: black;
    text-decoration:none;
}
a:hover {
    color: black;
    text-decoration: none;
}
a:active {
    color:black;
    text-decoration:none;
}

/*Tabs and Tab Bar CSS*/
#nav_div{
    position:absolute;
    clear:both;
}

/*TAB BAR CSS*/
.subway_tabs{
    position:relative;
    text-align:center;
    list-style:none;
    margin:0;
    padding-bottom: -20px;
    line-height:35px;
    width: 100%;
}
.subway_tabs li{
    z-index:0;
    position:relative;
    border:2px solid gray;
    border-bottom:0px;
    background:white;
    color:black;
    display:inline-block;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    margin: 0 -5px;
    width:14%;
    font-size:85%;
}
.subway_tabs li:before{
    z-index:1;
    left: -6px;
    bottom: -1px;
    width: 6px;
    height: 6px;
}
.subway_tabs li:after{
    position:absolute;
    right:-6px;
    bottom: -1px;
    width: 6px;
    height: 6px;
}
.subway_tabs li.current_position{
    background:lightgreen;
    color: black;
    z-index:2;
    border-bottom: 10px solid #015643;
    border:2px solid #015643;
}
/*END OF TAB BAR CSS*/

.login_table{
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}
.product_field{
    width:45px;
}
.sched_field{
    width:70px;
    height:30px;
    background:white;
    color:black;
}
.sched_emp{
    text-align:left;
}
.emp_table{
    padding:5px;
}
.generate_text_field{
    background:white;
    color:black;
    width:70px;
    height:30px; 
}
.rule_description_field{
    width:100px;
    background:white;
    color:black;
    height:30px;
}